/* TABLET */

@media (max-width: 768px) {
    main {
        width: 60%;
        height: 75%;
    }

    h1 {
        font-size: 3rem;
        margin-top: 30px;
    }

    p {
        font-size: 2.5rem;
        margin-top: 30px;
    }

    .attribution {
        font-size: 2rem;
        margin-bottom: 20px;
    }
}

/* MOBILE */

@media (max-width: 576px) {
    main {
        width: 320px;
        height: 500px;
    }

    h1 {
        margin: 15px 0px 0px 0px;
        font-size: 2.2rem;
    }

    p {
        margin: 15px 0px 0px 0px;
        font-size: 1.7rem;
    }

    .attribution {
        font-size: 1.3rem;
    }
}